/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0px;
  color: #fff;
  font-size: 20px;
  padding: 15px 35px;
}
.btn-secondary {
  border-radius: 5px;
  background: white;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.section-title {
  color: var(--dark-01, #181818);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: var(--dark-03, #757575);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
hr{
    color: #D1D1D1;
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
nav li {
  text-decoration: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.nav-name {
  color: #181818;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}
/* head related styles */
.header-class {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"), url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  background-size:700px,contain;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 500px;
}
.banner-greeting {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 0px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 10px;
}
/* main section styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 100px;
  margin-top: 130px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.info-title {
  color: var(--dark-03, #757575);
  font-size: 20px;
  margin-bottom: 0px;
}
.info-description {
  color: var(--dark-02, #474747);
  font-size: 20px;
  font-weight: 700;
}
/* style container */
.skill-container {
  display: flex;
  gap: 20px;
}
.skill {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
}
.skill-description {
  color: var(--dark-03, #757575);
  font-size: 16px;
  font-weight: 400;
}
#what-i-do-description {
  padding: 30px 150px;
}
/* resume section */
.resume-container{
    display: flex;
    gap: 20px;
    padding: 50px ;
}
.column-title{
    color: var(--dark-02, #474747);
font-size: 30px;

font-weight: 700;
}
.edu-title{
    color: var(--dark-02, #474747);;
font-size: 25px;

font-weight: 700;
}
.edu-subtitle{
    color: var(--dark-03, #757575);
font-size: 20px;
font-weight: 600;
}
.edu-descrption{
    color: var(--dark-03, #757575);
font-size: 16px;
font-weight: 400;
}
.btn-center{
    text-align: center;
    margin-top: 30px;
}
footer{
    display: flex;
    background-color:  #FFF8F3;
    margin-top: 100px;
    padding: 100px 150px;
    gap: 50px;
}
.footer-column{
    width: 50%;
}
.input-field{
    border-radius: 5px;
    margin-bottom: 25px;
background: var(--white-color, #FFF);
padding: 18px 35px;
display: block;
color: #757575;
border-style: none;
width: 75%;
}
#font-16{
    font-size: 14px;
}